<h1>Welcome to actionable</h1>
<p>We currently support the following organizations</p>
<ul>
<% @organizations.each do |organization| %>
  <li><%= link_to organization.title, organization.url %></li>
<% end %>
</ul>